@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Quote Form";
}

@model Quote

<!-- How to input a quote on the front end-->

<h1 class="text-center">Record your favorite quote!</h1>
<br />

<div class="text-center">
    <form method="post" asp-action="QuoteForm">
        <label asp-for="aQuote">Quote</label>
        <input asp-for="aQuote" />
        <br />

        <label asp-for="Author">Author</label>
        <input asp-for="Author" />
        <br />

        <label asp-for="Date">Date</label>
        <input asp-for="Date" />
        <br />

        <label asp-for="Subject">Subject</label>
        <input asp-for="Subject" />
        <br />

        <label asp-for="Citation">Citation</label>
        <input asp-for="Citation" />
        <br />
        <div asp-validation-summary="All"></div>
        <button type="submit" class="btn-danger">Submit</button>
    </form>
</div>